---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Open Sans', 'sans-serif';
$heading-font:    'Open Sans', 'sans-serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #1a1a2e;   /* deep navy */
$bg-color:        #c9f0ff;   /* soft trans blue background */
$neutral:         #fdeef4;   /* soft trans pink for cards/sections */
$accent-light:    #d44d7a;   /* deeper pink for links */
$accent-dark:     #1a6fa8;   /* deeper blue for hover */

/* viewport sizes */

$max-width:       800px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';

/* dropdown menu styling */
.dropdown-menu {
  background-color: #f7c8d8;
}

.dropdown-menu a {
  background-color: #f7c8d8;
  color: #1a1a2e;
}

.dropdown-menu a:hover {
  background-color: #d44d7a;
  color: white;
}

/* metadata box on item pages */
.item-label ~ dl {
  background-color: $neutral;
  padding: 1rem 1.25rem;
  border-radius: 6px;
}



















