---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: label
  - label: 'Submitter'
    value: submitter
  - label: 'Submitter Pronouns'
    value: page.submitter_pronoun
  - label: 'Game'
    value: game
  - label: 'Avatar Pronouns'
    value: avatar_pronouns
  - label: 'Why did you choose this game?'
    value: why_this_game
  - label: 'How do you understand the relationship between the character you submitted and your own gender identity and exploration?'
    value: avatar_relationship
  - label: 'Image Type'
    value: object_type
---
