---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Submitter'
    value: page.submitter
  - label: 'Player Pronouns'
    value: page.player_pronoun
  - label: 'Avatar Pronouns'
    value: page.avatar_pronouns
  - label: 'Game'
    value: page.game
  - label: 'Why did you choose this game?'
    value: page.why_this_game
  - label: 'How do you understand the relationship between the character you submitted and your own gender identity and exploration?'
    value: page.avatar_relationship
  - label: 'Alternative Text'
    value: page.alt_text
  - label: 'Image Type'
    value: page.object_type
---


